{% macro code(language, padding=True, source=None) -%}
{% if padding %}<p>{% endif %}
    {{ highlight(language, caller(), source) }}
{% if padding %}</p>{% endif %}
{%- endmacro %}

{% macro refPost(id) -%}
  {{ refPostString(id) | safe }}
{%- endmacro %}

{% set gitalk_client_id = 'Ov23lixyZTBppXMDgOi6' %}
{% set gitalk_client_secret = '50ab871146341a5098650e8f445b2a0c9d3e743d' %}

{% macro commentSection(issue_id) -%}


<div id="gitalk-container"></div>
<script>
const gitalk = new Gitalk({
  clientID: "{{ gitalk_client_id }}",
  clientSecret: "{{ gitalk_client_secret }}",
  repo: 'shqzzy',      // The repository of store comments,
  owner: 'shqzzy',
  admin: ['shqzzy'],
  id: "{{ issue_id }}",      // Ensure uniqueness and length less than 50
  number: "{{ issue_id }}",
  distractionFreeMode: false  // Facebook-like distraction free mode
})

gitalk.render('gitalk-container')
</script>
{%- endmacro %}
